.jumbotron h1{
    margin-top: 60px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 50px;
    font-family: sans-serif;
}
.navbar{
    height: 80px;
    background: rgb(255, 255, 255);
}
.navbar img{
    margin-left: 80px;
    width: 100px;
}
.img-jumbo {
    float: right;
    margin-top: -300px;
    margin-right: 40px;
}
.form-inline img{
    height: 35px;
    width: 35px;
}
.jumbotron p{
    margin-left: 50px;
    font-family: sans-serif;
    
}
.jumbotron{
    height: 500px;
}

h2 {
    margin-left: 50px;
    margin-bottom: 100px;
}
.dropdown{
    margin-left: 80px;
    float: left;
    border-radius: 5px;
}
.dropdown button{
    background-color: #FFFFFF;
    color: black;
    border-width: 3px;
    
}
.dropdown button:hover {
    border-width: 5px;
    border-radius: 5px;
    color: black;
    border-color: darkorchid;

}
.navbar1{
    float: right;
    margin-left: 60px;
}
.dropdown1:hover .dropdown-menu {
    display: block;
    margin-top: -10px;
    width: 300px;
    margin-left: 300px;
    border-radius: 5%;
}
.dropdown-menu{
    margin-left: 50px;
    display: none;
}
.nav-item{
    background-color: #FFFFFF;
}
.nav-link {
    color: rgba(85, 84, 84, 0.534);
}
.nav-link:hover{
    color: palevioletred;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .img {
    position: relative;
    width: 50%;
    max-width: 350px;
  }
  .foto {
    margin-left: 20PX;
  margin-top: 20px;
  border-radius: 5%;
  width: 350px;
  height: 350px;
  background: rgb(255, 255, 255);
  }
  /* .foto1 {
    margin-left: 20PX;
    margin-top: -30px;
  }
  .foto2 {
    margin-left: 20PX;
    margin-top: 0px;
  } */
  .title {
    margin-left: 45PX;
    margin-top: -25px;
  }
  .title H3{
    font-size: 17PX;
    
  }
  .lihat{
    float: right;
  }
  .lihat img{
  
    width: 15px;
    height: 15px;
  }
  .suka{
    float: right;
    margin-top: -35px;
    margin-right: 70px;
  }
  .suka img{
  
    width: 15px;
    height: 15px;
  }
  .suka img span{
  
    float: right;
  }
  .lihat{
    float: right;
    margin-top: -35px;
    margin-right: 10px;
  }
  .author img {
    object-fit: cover;
    margin-top: 5px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 10px;
  
  }
  .image {
    border-radius: 8px;
    display: block;
    width: 350px;
    height: auto;
  }
  
  .overlay {
    border-radius: 8px;
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 200%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 15px;
  }
  .overlay i {
      float: right;
      margin-left: 15px;
      margin-right: 10px;
    
  }
  .overlay a {
      color: white;
  }
  .overlay i:hover {
      color: lightslategrey;
  }
  .suka a {
    color: darkslategrey;
  }
  .suka i:hover {
    color: rgb(228, 57, 162);
  }
  .lihat a {
    color: darkslategrey;
  }
  .lihat i:hover {
    color: rgb(228, 57, 162);
  }
  .foto:hover .overlay {
    opacity: 1;
  }

  footer{
    width: 100%;
    background-color: #202020;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 100%;
    float: left;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}
.row img{
    width: 20px;
    margin-left: 10px;
    height: 20px;
}
.colum2{
    max-width: 100%;
    float: left;
    margin-left: 255px;
    margin-top: -170px;
}

.colum2 h1 a{
    font-size: 22px;
    color: #C7C7C7;
}


.colum3{
    max-width: 100%;
    float: left;
    margin-left: 55px;
    margin-top: -170px;
}

.colum2 h1 {
    font-size: 22px;
    color: #C7C7C7;
}

.row3{
    margin-top: 5px;
    color: #C7C7C7;
    display: flex;
}

.row3 a{
    font-size: 17px;
    color: #C7C7C7;
}
.colum4{
    max-width: 100%;
    float: left;
    margin-left: 55px;
    margin-top: -170px;
}
.colum5{
    max-width: 100%;
    float: left;
    margin-left: 55px;
    margin-top: -170px;
}
.copyright{
    color: #C7C7C7;
    margin-left: 80px;
}

.copyright a{
    text-decoration: none;
    
    float: left;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    margin-top: -25px;
    margin-right: 70px;
    float: right;
    color: #C7C7C7;
}
